@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Special+Elite&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Oswald, sans-serif;
    font-weight: 300;
    color: #252126;
    background-color: #FFFBCE;
}

/*Logo*/
#logo {
    font-family: "Special Elite", Oswald, sans-serif;
    font-size: 320%;
    font-weight: 200;
    color: #252126;
    float: left;
    margin: 10px;
}

/*nav menu*/
#menu {
    height: 30px;
    float: right;
    margin: 5px 10px;
}

#menu li {
    display: inline;
    padding-left: 5px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #252126;
}

.active {
    border-bottom: 1px solid #252126;
}


/*allign position of logo and nav menu*/

#logo,
#menu {
    line-height: 75px;
}

/*hero image*/

#hero-image {
    width: 100%;
    height: 600px;
    background: url(../images/domenicomondelliheroimage.png) no-repeat top center;
    background-size: cover;

}

#hero-container {
    height: 600px;
    width: 100%;
    clear: both;
    position: relative;
}

#cover-text h2 {
    color: #ECF5CE;
}

#cover-text {
    font-weight: lighter;
    font-style: italic;
    padding: 40px 10px;
    background-color: rgb(123, 71, 64, .4);

    bottom: 25%;
    left: 25%;

    position: absolute;
}

#left-column {
    padding-top: 30px;
    width: 50%;
    height: 600px;
    float: left;
}

#right-column {
    padding-top: 30px;
    width: 50%;
    height: 600px;
    float: right;
}

#left-column div {
    width: 60%;
    padding-bottom: 2cm;
    padding-right: 2cm;
    text-align: center;
    float: right;
}

#right-column div {
    width: 60%;
    padding-top: 2cm;
    padding-left: 2cm;
    text-align: center;
    float: left;
}

.left {
    background-color: #C7A936;

}

.right {
    background-color: #386C5F;

}